{% load static %}
<li data-sortby="{{ task.priority }}" class="third" id="task_{{ task.id }}">
    <div>
        <input type="checkbox" class="checkbox" onclick="task_status({{ task.id }})" {% if task.status %} checked {% endif %}>
    </div>
    <div>
        {% if task.deadline %}
            <span class="t-words">{{ task.name }} (Deadline: {{ task.deadline }})</span>
        {% else %}
            <span class="t-words">{{ task.name }}</span>
        {% endif %}
    </div>
    <div>
        <a href="javascript:show_datepicker({{ task.id }})">
            <img class="ico" src="{% static 'images/clock.png' %}"></a>
        <input class="dp" type="text" style="height: 0px; width:0px; border: 0px;">
    </div>
    <div>
        <a href="javascript:init_task_change({{ task.id }})"><img class="ico" src="{% static 'images/pencil.png' %}"></a>
    </div>
    <div>
        <a href="javascript:task_delete({{ task.id }})"><img class="ico" src="{% static 'images/skullnbones.png' %}"></a>
    </div>
</li>